{% extends 'home.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Labels' %}</h1>
<a href="{% url 'label_create' %}">{% trans 'Create Label' %}</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">{% trans 'Name' %}</th>
      <th scope="col">{% trans 'Date of creation' %}</th>
    </tr>
  </thead>
  <tbody>
      {% for obj in object_list %}
          <tr>
              <td>{{ obj.id }}</td>
              <td>{{ obj.name }}</td>
              <td>{{ obj.date_created |date:"d.m.Y H:i"}}</td>
              <td>
                  <a href="{% url 'label_chd' obj.pk %}">{% trans 'Change' %}</a><br>
                  <a href="{% url 'label_del' obj.pk %}">{% trans 'Delete' %}</a>
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}