{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Statuses' %}</h1>
<a href="{% url 'status_create' %}">Создать статус</a>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя пользователя</th>
        <th scope="col">Дата создания</th>
      </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.date_created }}</td>
                <td>
                    <a href="{% url 'status_chd' obj.pk %}">Изменить</a><br>
                    <a href="{% url 'status_del' obj.pk %}">Удалить</a>
                </td>
            </tr>
       {% endfor %}
    </tbody>
  </table>
  

{% endblock %}