{% extends 'bootstrap4/bootstrap4.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block bootstrap4_title %}{% trans 'Task Manager Hexlet' %}{% endblock %}

{% block bootstrap4_content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="{% url 'home' %}">{% trans 'TaskManager' %}</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users_lists' %}">{% trans 'Users' %}</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'status_list' %}">{% trans 'Statuses' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'label_list' %}">{% trans 'Labels' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'task_list' %}">{% trans 'Tasks' %}</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_logout' %}">{% trans 'Logout' %}</a>
            </li>
            {% else %}        
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_login' %}">{% trans 'Login' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">{% trans 'SignUp' %}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    {% block content %}
        <div class="card-body p-5 bg-light">
            <div class="display-4">{% trans 'Greetings from Hexlet' %}!</div>
            <p class="lead">{% trans 'Practical programming courses' %}</p>
            <hr>
            <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">{% trans 'To learn more' %}</a>
        </div>
    {% endblock %}
</div>
{% endblock %}
