{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <h2>Изменение задачи</h2>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_name">Имя</label>
      {{ form.name }}
    </div>
    <div class="form-group">
      <label for="id_description">Описание</label>
        {{ form.description }}
      </div>
      <div class="form-group">
        <label for="id_status">Статус</label>
        {{ form.status }}
      </div>
      <div class="form-group">
        <label for="id_worker">Исполнитель</label>
        {{ form.worker }}
      </div>
      <div class="form-group">
        <label for="id_labels">Метки</label>
        {{ form.label }}
      </div>
    <button type="submit" class="btn btn-primary">{% trans 'Change' %}</button>
  </form>





{% endblock %}


