{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Tasks' %}</h1>
<a href="{% url 'task_create' %}">Создать задачу</a>




<div class="card-body bg-light">
  <form class="form-inline center" method="get">
    <div class="form-group">
        <label for="id_status">Статус</label>
        <div class="ml-2 mr-3">      
            {{ filter.form.status }}
        </div>
    </div>
    <div class="form-group">
      <label for="id_executor">Исполнитель</label>
      <div class="mr-3 ml-2">
        {{ filter.form.executor }}
      </div>
    </div>
    <div class="form-group">
      <label for="id_label">Метка</label>
      <div class="mr-3 ml-2">
        {{ filter.form.label }}
      </div>
    </div>
    <div class="form-group">
      <div class="mr-3"><div class="form-check">
        {{ filter.form.self_tasks }}
        <label class="form-check-label" for="id_self_tasks">Только свои задачи</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Показать">
  </div>
  </form>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Статус</th>
        <th scope="col">Автор</th>
        <th scope="col">Исполнитель</th>
        <th scope="col">Дата создания</th>
      </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
            <tr>
                <td>{{ obj.id }}</td>
                <td><a href="{% url 'task_detail' obj.pk %}">{{ obj.name }}</a></td>
                <td>{{ obj.status }}</td>
                <td>{{ obj.author }}</td>
                <td>{{ obj.executor }}</td>
                <td>{{ obj.date_created |date:"d.m.Y H:i"}}</td>
                <td>
                    <a href="{% url 'task_chd' obj.pk %}">Изменить</a><br>
                    <a href="{% url 'task_del' obj.pk %}">Удалить</a>
                </td>
            </tr>
       {% endfor %}
    </tbody>
  </table>

  
 

{% endblock %}