{% extends 'home.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Tasks' %}</h1>
<a href="{% url 'task_create' %}">{% trans 'Create Task' %}</a>

<div class="card-body bg-light">
  <form class="form-inline center" method="get">
    <div class="form-group">
        <label for="id_status">{% trans 'Status' %}</label>
        <div class="ml-2 mr-3">      
            {{ filter.form.status }}
        </div>
    </div>
    <div class="form-group">
      <label for="id_executor">{% trans 'Executor' %}</label>
      <div class="mr-3 ml-2">
        {{ filter.form.executor }}
      </div>
    </div>
    <div class="form-group">
      <label for="id_labels">{% trans 'Label' %}</label>
      <div class="mr-3 ml-2">
        {{ filter.form.labels }}
      </div>
    </div>
    <div class="form-group">
      <div class="mr-3"><div class="form-check">
        {{ filter.form.self_tasks }}
        <label class="form-check-label" for="id_self_tasks">{% trans 'Only my tasks' %}</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Показать">
  </div>
  </form>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">{% trans 'Name' %}</th>
      <th scope="col">{% trans 'Status' %}</th>
      <th scope="col">{% trans 'Author' %}</th>
      <th scope="col">{% trans 'Executor' %}</th>
      <th scope="col">{% trans 'Date of creation' %}</th>
    </tr>
  </thead>
  <tbody>
      {% for obj in object_list %}
          <tr>
              <td>{{ obj.id }}</td>
              <td><a href="{% url 'task_detail' obj.pk %}">{{ obj.name }}</a></td>
              <td>{{ obj.status }}</td>
              <td>{{ obj.author }}</td>
              <td>{{ obj.executor }}</td>
              <td>{{ obj.date_created |date:"d.m.Y H:i"}}</td>
              <td>
                  <a href="{% url 'task_chd' obj.pk %}">{% trans 'Change' %}</a><br>
                  <a href="{% url 'task_del' obj.pk %}">{% trans 'Delete' %}</a>
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}